.idea/
.pytest_cache/
__pycache__
*.pyc
scripts
build
*.egg-info
.nfs*
*code-workspace
synch.sh
figures/region_contact_maps
.npy
.ipynb
.vscode
*.code-workspace
notebooks
maxentnuc/simulation/tests/klf1
maxentnuc/simulation/tests/grid_search*
demo/outputs
